{% extends "base.html" %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Unhinged</h1>
    <p class="col-md-8 fs-4">
    1. Svar på Prompts og last opp bilder
    </p>
    <p class="col-md-8 fs-4">
    2. Velg beste av to bilder eller prompts
    </p>
    <p class="col-md-8 fs-4">
    3. Generer den perfekte profil
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="password" class="form-label">Kode</label>
            <input type="text" class="form-control form-control-lg" id="password" name="password" placeholder="Skriv kode..." required autofocus>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Gå inn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
