{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-12">
    <h1> Unhinged </h1>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-6 py-3">
    <div class="card">
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="password" class="form-label">Kode</label>
            <input type="text" class="form-control form-control-lg" id="password" name="password" placeholder="Skriv kode..." required autofocus>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Gå inn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h4> Hva er greia? </h4>

    <p>
    Å lage den perfekte Hinge-profil kan være utfordrende, de du får råd fra er
    ikke sannsynligvis de du er på utkikk etter. I tillegg mangler du data på
    hvilke elementer av profilen din som funker, og hvilke som ikke gjør det
    </p>

    <p>
    Dette kan - som alle livets problemer - løses matematisk.
    <br>
    Istedenfor å jasse opp og ned
    med hvilket bilde som er det fineste, sett dem heller opp i dueller mot hverandre og
    la dem <b>kjempe</b> for sin plass på profilen din
    </p>

  </div>

  <h4> Hvordan? </h4>

  <h6> 0. Logg inn med romkode </h6>
  <p>
    Du bør ha fått en kort kode som du kan skrive inn over - Du kommer til å bli bedt
    om å velge et navn og kjønn. Det bør være et navn som ikke kolliderer med noen andres, men det er ikke krise om det gjør det, dere blir bare til samme person.

    Du må ikke velge kjønn, men det er mulig å filtrere resultatene på kjønn, og om du ikke har valgt vil du da bli unntatt
  </p>

  <h6> 1. Last opp bilder og svar på prompts </h6>
  <p>
    Deretter kan du laste opp bilder eller videoer og svare på prompts, for at algoritmen skal fungere godt bør det være minst ti bilder og ti promptsvar
  </p>

  <h6> 2. Stem </h6>
  <p>
    Gå inn og stem på respektivt bilder og promptsvar. Du vil bli presentert med to tilfeldige og bedt om å velge den du liker best. For at resultatene skal være stabile burde hvert bilde og hver prompt ha vært igjennom minst 20 dueller
  </p>

  <h6> 3. Nyt tidenes Hingeprofil </h6>
  <p>
    Resultatene blir presentert, og all ære kan legges på den som skriver de
    beste promptsene og tar de beste bildene

    Resultatene kan sorteres på guttestemmer og jentestemmer (Eller på individueller personer, om man skulle ønske å henge ut noen) - Omsider kan vi si kvantitativt: Hva <b>er</b> the [fe]male gaze?
  </p>

</div>
{% endblock %}
