{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 py-3">
    <div class="card">
      <div class="card-body">
        {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="password" class="form-label">Kode</label>
            <input type="text" class="form-control form-control-lg" id="password" name="password" placeholder="Skriv kode..." required autofocus>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-lg">Gå inn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
