{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header">
        <h3>Join {{ profile.name }}</h3>
      </div>
      <div class="card-body">
        <p>Please enter a username to identify your submissions and votes.</p>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" id="name" name="name" required autofocus>
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender">
                <option value="O" selected>Prefer not to say</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Join</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
