{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="card-header">
        <h3>Bli med i {{ profile.name }}</h3>
      </div>
      <div class="card-body">
        <p>Vennligst skriv inn et brukernavn for å identifisere dine bidrag og stemmer.</p>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="name" class="form-label">Brukernavn</label>
            <input type="text" class="form-control" id="name" name="name" required autofocus>
          </div>
          <div class="mb-3">
            <label for="gender" class="form-label">Kjønn</label>
            <select class="form-select" id="gender" name="gender">
                <option value="O" selected>Foretrekker å ikke si</option>
                <option value="M">Mann</option>
                <option value="F">Kvinne</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Bli med</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
