{% extends "base.html" %}

{% block content %}
<div class="row mt-4">
  <div class="col-12 text-center">
    <h1>{{ profile.name }}'s Profile</h1>
    <hr>
    <div class="d-grid gap-3 col-md-6 mx-auto mb-4">
        <a href="{% url 'upload_image_card' profile.id %}" class="btn btn-primary btn-lg">Upload Photo Card</a>
        <a href="{% url 'upload_prompt_card' profile.id %}" class="btn btn-secondary btn-lg">Answer a Prompt</a>
    </div>
    
    <hr>
    <h3>Judging</h3>
    <div class="d-grid gap-3 col-md-6 mx-auto">
        <a href="{% url 'rank_cards' profile.id 'image' %}" class="btn btn-outline-primary btn-lg">Rank Photo Cards</a>
        <a href="{% url 'rank_cards' profile.id 'prompt' %}" class="btn btn-outline-secondary btn-lg">Rank Prompt Cards</a>
    </div>
  </div>
</div>
{% endblock %}
